name: CI

on:
  push:
  pull_request:

jobs:
  run-tests:
    strategy:
      fail-fast: false
      matrix:
        os: [windows-latest]
        python-version:
          - "3.9"
    name: Test
    runs-on: ${{ matrix.os }}

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: ${{matrix.python-version}}

      - name: Install dependecies
        run: |
          python -m pip install pytest 
          python -m pip install pytest-cov
          python -m pip install fastapi
          python -m pip install bcrypt
          python -m pip install httpx
            

      - name: Run tests
        run: pytest --cov=.
